{% set counter = 0 %}
{% if entry.featuredArticle1|length %}
  {% set article1 = entry.featuredArticle1.one %}
{% else %}
  {% set article1 = craft.entries.section('blogEntries')[counter] %}
  {% set counter = counter + 1 %}
{% endif %}
{% if entry.featuredArticle2|length %}
  {% set article2 = entry.featuredArticle2.one %}
{% else %}
  {% set article2 = craft.entries.section('blogEntries')[counter] %}
  {% set counter = counter + 1 %}
{% endif %}
{% if entry.featuredArticle3|length %}
  {% set article3 = entry.featuredArticle3.one %}
{% else %}
  {% set article3 = craft.entries.section('blogEntries')[counter] %}
  {% set counter = counter + 1 %}
{% endif %}

<div class="home-articles">
  {{article1.featuredImage.one.focalPoint}}
  <a href="{{ article1.url }}" class="home-articles__article" style="background-image:url('{{ article1.featuredImage.one.url }}');background-position:{{article1.featuredImage.one.focalPoint}}">
    <h2 class="home-articles__article--title primary">{{ article1.title }}</h2>
  </a>
  <a href="{{ article2.url }}" class="home-articles__article" style="background-image:url('{{ article2.featuredImage.one.url }}')">
    <h2 class="home-articles__article--title primary">{{ article2.title }}</h2>
  </a>
  <a href="{{ article3.url }}" class="home-articles__article" style="background-image:url('{{ article3.featuredImage.one.url }}')">
    <h2 class="home-articles__article--title primary">{{ article3.title }}</h2>
  </a>
</div>