<div class="home-classes">
  <div class="home-classes__date">{{ now|date("F d, Y") }}</div>
  <div class="home-classes__title">Today's Schedule</div>
  <div class="home-classes__times">
    <ul class="home-classes__time-list">
      <li class="home-classes__time-list--item">6:00AM</li>
      <li class="home-classes__time-list--item">7:00AM</li>
      <li class="home-classes__time-list--item">9:00AM</li>
      <li class="home-classes__time-list--item">10:00AM</li>
      <li class="home-classes__time-list--item">3:30AM</li>
      <li class="home-classes__time-list--item">4:30AM</li>
      <li class="home-classes__time-list--item">5:30AM</li>
      <li class="home-classes__time-list--item">6:30AM</li>
    </ul>
  </div>
  <a href="#" class="home-classes__cta">Full Schedule</a>
</div>