@mixin section-outer($bg: $light) {
  padding-left: $navbar-lg;
  background-color: #{$bg};
  // flex
  display: flex;
  
  @include bp($md) {
    padding-left: $navbar-md;
  }

  @include bp($sm) {
    padding-left: $navbar-sm;
  }
}

@mixin section-inner($padding: 'default') {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  transition: padding $ease-med;
  // flex item
  flex: 0 0 100%;
  // flex
  display: flex;
  flex-wrap: wrap;
  
  @if $padding == 'top' {
    padding: 90px 60px 60px;
    
    @include bp($lg) {
      padding: 60px 40px 40px;
    }

    @include bp($sm) {
      padding: 36px 24px 24px;
    }
  }

  @if $padding == 'bottom' {
    padding: 60px 60px 90px;
    
    @include bp($lg) {
      padding: 40px 40px 60px;
    }

    @include bp($sm) {
      padding: 24px 24px 36px;
    }
  }

  @if $padding == 'hero' {
    padding: 60px 60px 0;
    
    @include bp($lg) {
      padding: 40px 40px 0;
    }

    @include bp($sm) {
      padding: 0;
    }
  }

  @if $padding == 'half' {
    padding: 30px 60px;
    
    @include bp($lg) {
      padding: 20px 40px;
    }

    @include bp($sm) {
      padding: 12px 24px;
    }
  }

  @if $padding == 'default' {
    padding: 60px 60px;
    
    @include bp($lg) {
      padding: 40px 40px;
    }

    @include bp($sm) {
      padding: 24px 24px;
    }
  }

  @if $padding == 'none' {
    padding: 0;
  }

}

@mixin content-width ($width: $max-content) {
  max-width: $width;
}

// SCSS

.section-gray {
  @include section-outer($light);
}

.section-white {
  @include section-outer($white);
}

.section-dark {
  @include section-outer($dark);
}

.section-green {
  @include section-outer($green);
}

.section-transparent {
  @include section-outer('transparent');
}

.section {
  @include section-inner();
  @include content-width();

  &.-top {
    @include section-inner(top);
  }

  &.-bottom {
    @include section-inner(bottom);
  }

  &.-hero {
    @include section-inner(hero);
  }

  &.-half {
    @include section-inner(half);
  }

  &.-none {
    @include section-inner(none);
  }

  &.-narrow {
    @include content-width($narrow-content);
  }
}