body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

%headline-xxl {
  font-family: $font-title;
  font-size: 4.8rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 3.6rem;
  }
}

%headline-xl {
  font-family: $font-title;
  font-size: 3.6rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 3.0rem;
  }
}

%headline-lg {
  font-family: $font-title;
  font-size: 3.0rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 2.4rem;
  }
}

%headline-md {
  font-family: $font-title;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 2.1rem;
  }

  @include bp($md) {
    font-size: 1.8rem;
  }
}

%headline-md-low {
  font-family: $font-title;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 2.1rem;
  }
}

%headline-sm {
  font-family: $font-title;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  transition: font-size $ease-fast;

  @include bp($lg) {
    font-size: 1.8rem;
  }
}

%headline-xs {
  font-family: $font-title;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1;
  transition: font-size $ease-fast;

  @include bp($md) {
    font-size: 1.4rem;
  }
}

%text-xl {
  font-family: $font-body;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;

  @include bp($md) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

%text-lg {
  font-family: $font-body;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;

  @include bp($md) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

%text-md {
  font-family: $font-body;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

%text-sm {
  font-family: $font-body;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}

// SPECIFICS
%navigation-main {
  font-family: $font-title;
  font-size: 7.2rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  @include bp($md) {
    font-size: 4.8rem;
  }

  @include bp($sm) {
    font-size: 3.6rem;
  }

  @include bp($xs) {
    font-size: 2.4rem;
  }
}

%wod-headline {
  font-family: $font-title;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  margin: 1.6rem 0;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($md) {
    font-size: 2.1rem;
    line-height: 1;
  }
}

%wod-movement {
  font-family: $font-body;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  transition: font-size $ease-fast;

  @include bp($md) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

%wod-text {
  font-family: $font-body;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
  transition: font-size $ease-fast;
}

%footer-link {
  font-family: $font-body;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: $gray;
  position: relative;
  transition: color $ease-fast;

  @include bp($md) {
    font-size: 1.4rem;
  }

  &::after {
    content: "";
    display: block;
    background-color: $light;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    transition: width $ease-fast;
  }

  &:hover {
    color: $white;

    &::after {
      width: 100%;
    }
  }
}