.blog-hero {
  position: relative;
  //flex
  display: flex;
  flex-wrap: wrap;

  @include bp($md) {
    padding: 24px 0 0;
  }

  &__headline {
    @extend %headline-xxl;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    
    &--wrapper {
      margin-bottom: 40px;
      //flex item
      flex: 0 0 100%;
    }
  }

  &__image {
    display: inline-block;
    max-height: 70vh;
    max-width: 100%;
    min-height: 500px;
    vertical-align: middle;
    height: auto;
    width: auto;

    @include bp($lg) {
      min-height: 0;
    }

    &--wrapper {
      margin: 0 auto;
    }
  }
}