.blog-hero{
  // max-width: 1100px;
  // margin: 0 auto;
  position: relative;
  //flex
  display: flex;
  flex-wrap: wrap;

  &__headline {
    @extend %headline-xl;
    margin: 0 auto 40px;
    max-width: 600px;
    text-align: center;
    //flex item
    flex: 0 0 100%;
  }

  &__image {
    display: inline-block;
    max-height: 70vh;
    max-width: 100%;
    min-height: 500px;
    height: auto;
    width: auto;

    @include bp($lg) {
      min-height: 0;
    }

    &--wrapper {
      margin: 0 auto;
    }
  }
}