.button {
  @extend %headline-md;
  display: inline-block;
  padding: 15px 45px;
  transition: background $ease-fast, color $ease-fast;

  &.-dark {
    color: $white;
    background-color: $dark;

    &:hover {
      color: $dark;
      background-color: $white;
    }
  }

  &.-green {
    color: $white;
    background-color: $green;

    &:hover {
      color: $green;
      background-color: $white;
    }
  }
  
  &.-green-dark {
    color: $white;
    background-color: $green;

    &:hover {
      background-color: $dark;
    }
  }

  &.-white {
    color: $green;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $dark;
    }
  }
}