.footer {
  background-color: $dark;
  color: $light;
  // flex
  display: flex;
  flex-wrap: wrap;
  
  &__column {
    // flex item
    flex: 0 0 auto;

    @include bp($sm) {
      padding: 0 24px;
      flex: 0 0 50%;
    }
    
    &:last-child {
      flex: 1 0 auto;
      // flex
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      @include bp($sm) {
        flex: 0 0 100%;
        height: 100px;
      }
    }
  }
  
  &__nav {
    
    &--list {
      margin: 0;
      padding: 0 90px 0 0;
    }
    &--item {
      color: $light;
      list-style: none;
      padding: 4px 0;
    }
    &--link {
      @extend %footer-link;
    }
  }
}