.modal {
  background-color: rgba($white, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding-top: 120px;
  pointer-events: none;
  // overflow-y: scroll;
  z-index: $z-modal;
  transition: opacity $ease-med;

  @include bp($sm) {
    padding-top: 90px;
  }

  &.-active {
    opacity: 1;
    pointer-events: auto;
  }

  @keyframes pulse {
    0% {
      opacity: 1; 
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  &__loader {
    @extend %headline-xl;
    color: $gray;
    position: absolute;
    top: 50%;
    left: 48%;
    opacity: 0;
    padding-right: 24px;
    pointer-events: none;
    transform: translate(-50% -50%);
    transition: opacity $ease-med;

    &.-active {
      animation: pulse 1s infinite;
    }
  }

  &__content {
    padding: 0 100px;
    width: 100%;
    opacity: 0;
    overflow-y: scroll;
    transform: translateY(40px);
    transition: opacity $ease-med, transform $ease-med;
    justify-content: center;

    @include bp($sm) {
      padding: 0 60px;
    }

    &.-active {
      opacity: 1;
      transform: none;
    }
  }

  &__close {
    @extend %text-sm;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    display: inline-block;
    top: 40px;
    left: calc(50% + 50px);
    transform: translateX(-50%);
    padding: 12px 30px;
    background-color: transparent;
    border-radius: 24px;
    border: 2px solid $dark;
    outline: 0;
    cursor: pointer;
    transition: color $ease-fast, background $ease-fast, border $ease-fast;
    
    @include bp($md) {
      left: calc(50% + 36px);
    }
    
    @include bp($sm) {
      top: 24px;
      left: calc(50% + 24px);
    }

    &:hover {
      background-color: $green;
      border-color: $green;
      color: $white;
    }
  }

  &__next,
  &__prev {
    padding: 40px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-95%);
    width: 100px;

    @include bp($sm) {
      width: 60px;
    }
  }

  &__next {
    right: 0;
  }
  
  &__prev {
    left: 0;
  }
  
  &__nav {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: 0;
    position: relative;

    &--icon {
      fill: $green;
      height: 40px;
      max-width: 100%;
      transition: transform $ease-fast;
    }
    
    &:hover {
      .modal__nav--icon {
        transform: translateY(-5px);
      }
    }
  }

  .coach {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;

    &__image {
      position: relative;
      //flex item
      flex: 0 0 calc(50% - 40px);
      //flex
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      @include bp($md) {
        flex: 0 0 100%;
      }

      &::after {
        content: "";
        display: block;
        padding-bottom: (600 / 480) * 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }

    &__text {
      margin-left: 40px;
      flex: 0 0 50%;

      @include bp($md) {
        margin: 24px 0;
        flex: 0 0 100%;
      }

      &--name {
        @extend %headline-lg;
        color: $green;
      }

      p, li {
        @extend %text-md;
      }

      ul {
        padding: 0 0 0 16px;
      }

      li {
        font-weight: 600;
        margin-bottom: 12px;

        &:last-child {
          margin: 0;
        }
      }

    }
  }
}