.blog {
  &__headline {
    @extend %headline-xxl;
    color: $green;
  }

  &__entries {
    //flex
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__entry {
    background-color: $white;
    margin-bottom: 30px;
    position: relative;
    transition: box-shadow $ease-fast, transform $ease-fast;
    //flex item
    flex: 0 0 calc(25% - 15px);
    @include bp($lg) {
      flex: 0 0 calc(33% - 15px);
    }
    @include bp($md) {
      flex: 0 0 calc(33% - 12px);
    }
    @include bp($sm) {
      flex: 0 0 100%;
    }

    &--image {
      background: 50% 50% no-repeat;
      background-size: cover;
      &::after {
        content: "";
        display: block;
        padding-bottom: 56%;
      }
    }

    &--date {
      @extend %text-sm;
      padding: 15px 15px 0;
      font-weight: 600;
    }

    &--title {
      @extend %headline-lg;
      padding: 7px 15px 15px;
      width: 100%;
      transition: color $ease-fast;
    }

    &:hover {
      box-shadow: 0px 6px 12px rgba($dark, 0.3);
      transform: translateY(-6px);

      .blog__entry--title {
        color: $green;
      }
    }
  }
}

@supports (display: grid) {
  .blog__entries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    flex: auto;
    
    @include bp($md) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include bp($sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .blog__entry {
    margin: 0;
  }
}