.wod-entry {
  &__date {
    @extend %headline-md;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__title {
    @extend %headline-xxl;
    color: $green;
    padding-top: 12px;
    // flex item
    flex: 0 0 100%;
  }
  &__workout {
    padding-right: 120px;
    max-width: 500px;
    // flex-item
    flex: 0 1 auto;
    .-wod-headline {
      @extend %headline-xl;
      margin: 0 0 16px;
    }
    p {
      @extend %text-md;
      margin: 0 0 16px;
    }
    ul, ol {
      @extend %text-md;
      margin: 16px 0;
    }
    p strong,
    li strong {
      @extend %text-lg;
      letter-spacing: -0.4px;
      font-weight: 900;
      text-transform: uppercase;
    }
    a,
    a strong {
      color: $green;
      transition: color $ease-fast;

      &:hover {
        color: darken($green, 15%);
      }
    }
  }
  &__notes {
    max-width: 460px;
    // flex item
    flex: 0 1 auto;
    &--wrapper {
      background-color: $white; 
      padding: 24px;
    }
    p {
      @extend %text-md;
      margin: 0 0 16px;

      &:last-child {
        margin: 0;
      }
    }
  }
}